#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createCategoryInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createCategoryInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Category $colStr VALUES $valStr", "SELECT * FROM Category WHERE categoryID=$ctx.args.createCategoryInput.categoryID"]
}