#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createFoundItemPostInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createFoundItemPostInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO FoundItemPost $colStr VALUES $valStr", "SELECT * FROM FoundItemPost WHERE postID=$ctx.args.createFoundItemPostInput.postID"]
}