#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createDropOffLocationInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createDropOffLocationInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO DropOffLocation $colStr VALUES $valStr", "SELECT * FROM DropOffLocation WHERE locationID=$ctx.args.createDropOffLocationInput.locationID"]
}